name: Demo-Workflow

on:
  push:
    branches:
    - main

jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: pwd && ls -al
      - run: go version
      - uses: actions/setup-go@v5
      - run: go version
